.header {
  text-align: center;
  padding: 0;
  margin-bottom: 10rem;
}
.image {
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: cover;
  display: block;
}
.textContainer {
  margin-top: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.boldTitle {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 5rem;
}
.description {
  font-size: 1.2rem;
  margin:0px 20px;
}
